.item{
    margin-bottom: .5rem;
}
    .input-container{
        display: flex;
        margin: 0 25% 0 25%;
        background-color: #EFD345;
        border: 3px solid  #82954B;
    }

        .input-container button{
            font-size: 27px;
            line-height: 1em;
            cursor: pointer;
            
            width: 25%;
            height: 100%;
            color: black;
        }
        .input-container input{
            background: white;
            display: block;
            width: 49%;
            font-size: 16px;
            line-height: 1em;
            text-align: center;
            outline: none;
            font-weight: 500;
            color: #272020;
            border-left: 3px solid  #82954B;
            border-right: 3px solid  #82954B;
        }

    .add-container{
        text-align: center;
    }

        .add-to-cart {
            position: relative;
            display: inline-block;
            background: #3e3e3f;
            color: #fff;
            border: none;
            border-radius: 0;
            padding: 1.25rem 2.5rem;
            font-size: 1rem;
            text-transform: uppercase;
            cursor: pointer;
            transform: translateZ(0);
            transition: color 0.3s ease;
            letter-spacing: 0.0625rem;
        }

        .add-to-cart:hover::before {
        transform: scaleX(1);
        }

        .add-to-cart::before {
            position: absolute;
            content: '';
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #565657;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition: transform 0.3s ease-out;
        }


