.search-bar{
 width: 100%;
 position: absolute;
  top: 0;
  z-index: 22;
}
  .search-bar-container{
    display: flex; 
    
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

    .search{
      width: 100%;
    }

      .search-box {
        display: flex;
        border: 2px solid rgb(186, 189, 66);
      }

        .search-box input {
          width: 90%;
        }

          .search-box i  {
            text-align: center;
            opacity: 0.5;
            padding: 15px ;
            font-size: 17px;
            border-left: 2px solid rgb(186, 189, 66);
          }

        .search-box button {
          width: 5%;
        }


