.navbar-toggle {
    display: none;
}

.mobile-header{
    display: none;
}

/* Desktop */
.desktop-header {
    justify-content: center;
    border-bottom: 2px solid  #82954B;
    box-shadow: 0 0px 8px rgb(0 0 0 / 30%)
}

.head-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.navlink{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-list{
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.header-holder {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cart {
    position: relative;
}
  
.cart span {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #e94560;
    font-size: 12px;
    color: #fff;
}
/* Desktop */
/* Mobile   */
@media (max-width: 1024px) {
    .desktop-header{
        display: none;
    }

    .mobile-header {
        display: block;
        border-bottom: 2px solid  #82954B;
        box-shadow: 0 0px 8px rgb(0 0 0 / 30%)
    }
    .mobile-navbar{
      
    }
    .nav-links-MobileMenu {
        position: fixed;
        display: block;
        list-style: none;
        padding-top: 49px;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        left: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        background: white;
        z-index: 1000;
        animation: slideIn .5s forwards;
    }
    @keyframes slideIn {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    .nav-links-MobileMenu  li{
        display: flex;
        padding: 19px 27px 9px 20px;
        font-size: 14px;
        line-height: 22px;
        text-decoration: none;
        color: #191919;
        position: relative;  
        
    }

    .container-fluid {
        padding: 10px 20px 10px 20px;
    }

    .header-row {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      min-height: 40px;
    }

    .middle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .mobile-parent-menu {

    }

    .mobile-header .top-line {
      border-top: 1px solid #e9e7e7; 
      border-bottom: 1px solid #e9e7e7; 
    }

    .logo-container {
        padding: 15px 0 20px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 10px 0 20px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-left: -10px;
    }

    .logo img{
      display: inline-block;
    }

    header ul {
      padding-top: 30px;
    }
  
    header ul li {
      width: 100%;
      text-transform: uppercase;
      line-height: 70px;
    }
  
    header .link {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
      font-size: 25px;
      z-index: 999;
    }
  
    .header.active {
      height: 10vh;
    }
}  
/* Mobile */


