@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
.iteminfo{
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #888;
  background: #fff;
  text-rendering: optimizeLegibility;
}
.iteminfo-container {
  margin: 1rem 10%;
}
.iteminfo-conatiner ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.iteminfo-container ul li {
  margin: 0 1.75rem 0 0;
}
.iteminfo-container a {
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}
.iteminfo-container a:hover {
  color: #333;
}
.iteminfo-container a.active {
  color: #333;
}
.iteminfo-container h1, .iteminfo-container h2, 
.iteminfo-container h3, .iteminfo-container h4 {
  color: #333;
  font-weight: normal;
  text-align: center;
}
.iteminfo-container h1 {
  font-size: 2.5rem;
  border-bottom: 0.0625rem solid #e3dddd;
}
.iteminfo-container h2 {
  font-size: 2.125rem;
  margin: 0;
}
.iteminfo-container h3 {
  font-size: 2rem;
}
.iteminfo-container h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}
.iteminfo-container section {
  display: block;
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #fff;
  text-align: center;
}
.flex-nav ul.active {
  display: flex;
}
.flex-nav ul li {
  margin: 0.5rem 0;
}
.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  line-height: 1.7;
  margin: 1rem 0;
}
.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 0 0.5rem;
}
#highlight {
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.price {
  margin: 0;
}

.description {
  margin: 1rem 0;
  text-align: center;
  height: 350px;
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
}

.product-container{
  width: 66%;
}
.product{
  display: flex;
}
.grid > [class*="column-"] {
  padding: 1rem;
}
.grid.menu, .grid.product {
  border-bottom: 0.0625rem solid #e3dddd;
}
.grid.menu > [class*="column-"] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.product {
  padding: 0 0 1.5rem 0;
}
.grid.second-nav > [class*="column-"] {
  padding: 0.5rem 1rem;
}
footer {
  padding: 1rem 0;
  text-align: center;
}
.product-image {
  display: none;
}
.image-list li {
  margin: 0;
}

.info-container{
  width: 33%;
}

.related-products{

}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products div{
  margin: 10px;
}

@media (min-width: 1080px) {
  .product-image img, .image-list img {
    width: 100%;
  }
  .product-image {
    display: block;
  }
  .product-image img {
    height: 52vh;
  }
  .product-image img.active {
    display: block;
    margin: 0 0 0.75rem 0;
  }
  .image-list {
    display: flex;
    overflow: hidden;
  }
  .image-list li {
    margin: 0 0.75rem 0 0;
    flex-basis: 100%;
  }
  .image-list li:nth-child(3) {
    margin: 0;
  }
  .image-list img {
    height: 10rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  .image-list img:hover {
    opacity: 0.7;
  }
  nav ul {
    justify-content: flex-end;
  }
  .toggle-nav {
    display: none;
  }
  .flex-nav {
    display: block;
  }
  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }
  .flex-nav ul li {
    font-size: 1.125rem;
    margin: 0 1.5rem 0 0;
  }
  .flex-nav ul li:nth-child(4) {
    margin: 0;
  }
}
