@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
.iteminfo{
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #888;
  background: #fff;
  text-rendering: optimizeLegibility;
}

.iteminfo-container h1, .iteminfo-container h2, 
.iteminfo-container h3, .iteminfo-container h4 {
  color: #333;
  font-weight: normal;
  text-align: center;
}
.iteminfo-container h1 {
  font-size: 2.5rem;
  border-bottom: 0.0625rem solid #e3dddd;
}
.iteminfo-container h2 {
  font-size: 2.125rem;
  margin: 0;
}
.iteminfo-container h3 {
  font-size: 2rem;
}
.iteminfo-container h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}
.iteminfo-container section {
  display: block;
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
}
.iteminfo-container {
  margin: 1rem 10%;
}
  .product{
    display: flex;
  }
    .product-container{
      flex: 0 0 60%;
      max-width: 60%;
      
      width: 100%;
      padding-right: 5px;
      padding-left: 5px;
    }
      .product-gallery{
        position: relative;
        top: 0;
        min-height: 700px
      }
        .product-image {
          float: right;
          width: 82.7%;
          min-width: 425px;
        }
          .product-image img{
            width: 100%;
            height: auto;
          }
        .image-list {
          margin: 0 0 44px 0;
          top: 0px;
          left: 0;
          width: 13.9%;
        }
          .image-item {
            padding-bottom: 20px;
            width: 66px;
            float: left;
          }
            .image-item img {
              display: block;
              position: relative;
              width: 100%;
              height: auto ;
              transition: opacity 0.3s ease;
              cursor: pointer;
            }
    .info-container{
      text-align: center;
      flex: 0 0 50%;
      max-width: 40%;
      position: relative;
      width: 100%;
      
      padding-left: 20px;
      justify-content: space-between;
    }
        .price{
          font-size: 30px;
          line-height: 40px;
          font-family: 'Archivo', sans-serif;
          font-weight: 500;
          color: #de1f26;
        }
        .item-information{
          margin-top: 33px;
          width: 100%;
          display: flex;
        }
          .shipping{
            color: #de1f26;
            font-size: 14px;
            padding: 8px 12px 8px 0;
          }
          .email{
            color: #de1f26;
            font-size: 14px;
            margin-left: auto;
            padding: 8px 12px 8px 0;
          }
        .info-add-item{
          margin-top: 33px;
          display: block;
        }
        .description {
          margin: 1rem 0;
          text-align: center;
          height: 1000px;
        }

.grid.menu, .grid.product {
  border-bottom: 0.0625rem solid #e3dddd;
}
.grid.menu > [class*="column-"] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.product {
  padding: 0 0 1.5rem 0;
}
.grid.second-nav > [class*="column-"] {
  padding: 0.5rem 1rem;
}
footer {
  padding: 1rem 0;
  text-align: center;
}





.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products div{
  margin: 10px;
}

@media (min-width: 1080px) {
  

  .product-image img.active {
    display: block;
    margin: 0 0 0.75rem 0;
  }
  nav ul {
    justify-content: flex-end;
  }
  .toggle-nav {
    display: none;
  }
  .flex-nav {
    display: block;
  }
  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }
  .flex-nav ul li {
    font-size: 1.125rem;
    margin: 0 1.5rem 0 0;
  }
  .flex-nav ul li:nth-child(4) {
    margin: 0;
  }
}

@media (max-width: 1080px){

}
